# IntelliJ
*.iml
.idea/

# Eclipse
.metadata/
.recommenders/
*/.settings/
.classpath
.project
META-INF/

# Other
*/bin/
*.jar
*.class
/bin/

# Build files
build.properties
build.xml
*/build
*/builds
*/out